{
	"default": {
		"source": "sfacg",
		"folder": "./novelData"
	},
	"sfacg": {
		"base": "http://book.sfacg.com/",
		"cover": "Novel/{novelID}",
		"index": "Novel/{novelID}/MainIndex",
		"chapter": "Novel/{novelID}/{chapterID}",
		"sub": "Novel/{novelID}/{chapterID}/{subID}"
	}
}
